@"
* text=auto

*.c text eol=lf
*.h text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf

*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
"@ | Set-Content -Encoding UTF8 .gitattributes